<mat-sidenav-container hasBackdrop="true">
<!--  <mat-sidenav #sidenav mode="over" style="width: 250px;">-->
  <mat-sidenav #sidenav
               [(opened)]="navMenuOpened"
               mode="over"
               class="!w-11/12 sm:!w-[360px]"
               (closed)="navMenuService.closeNavMenu()"
  >
    <div class="p-4">
      <mat-nav-list>
        <app-nav-item title="Chords" route="/chords" matIcon="home" />
        <app-nav-item title="Tabs" route="/tabs" matIcon="info" />
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="bg-red-500 flex flex-col h-screen">
      <app-top-bar [title]="title" [toggleNavMenu]="navMenuService.toggleNavMenu.bind(navMenuService)" />
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
