<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="navMenuMode"
               class="!w-11/12 sm:!w-[220px]"
               [(opened)]="navMenuOpened"
               (closed)="navMenuService.closeNavMenu()"
  >
    <div class="p-4">
      <mat-nav-list>
        <app-nav-item title="Chords" route="/chords" matIcon="music_note" />
        <app-nav-item title="Tablature" route="/tablature" matIcon="wysiwyg" />
        <app-nav-item title="Recording" route="/recording" matIcon="graphic_eq" />
        <app-nav-item title="Profile" route="/profile" matIcon="person" />
        <app-nav-item title="About" route="/about" matIcon="info" />
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="bg-gray-200 flex flex-col h-screen">
      <app-top-bar [title]="title"
                   buttonIcon="menu"
                   [buttonClick]="topBarButtonClick"
      />
      <app-page-frame>
        <router-outlet/>
      </app-page-frame>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
