<mat-card appearance="outlined" class="!bg-white inline-flex w-72 p-4">
    <!--TODO create fret reference point-->

  <div class="flex flex-row w-full justify-center items-start">
    <h1 class="text-2xl font-semibold mt-[17%]">1</h1>

    <div class="flex flex-col items-center flex-1">
      <!--Open/closed strings-->
      <div class="w-full">
        <mat-grid-list cols="6" rowHeight="1:1" class="w-full mb-[-8px]">
          @for (guitarString of Object.values(GuitarStringState.GuitarStringEnum); let i = $index; track i) {
            <mat-grid-tile>
              <span #openMutedStringElement class="{{guitarString}} hidden"></span>
            </mat-grid-tile>
          }
        </mat-grid-list>
      </div>

      <div class="flex items-center justify-center w-full relative mt-2">
        <!--Chords grid-->
        <div class="w-10/12">
          <mat-grid-list cols="5" rowHeight="1:1.2" class="bg-black w-full border-t-1 border-x-1">
            @for (num of Array(25); let i = $index; track i) {
              <mat-grid-tile class="bg-white" />
            }
          </mat-grid-list>
        </div>

        <!--Pushed frets-->
        <div class=" flex absolute w-full h-full bottom-0 left-0">
          <mat-grid-list cols="6" rowHeight="1:1.2" class="w-full">
            @for (num of Array(5); let i = $index; track i) {
              @for (string of Object.values(GuitarPositionPushed.StringEnum); let j = $index; track j) {
                <mat-grid-tile>
                  <span #positionPushedElement class="{{`${i+1}`}} {{string}} hidden"></span>
                </mat-grid-tile>
              }
            }
          </mat-grid-list>
        </div>

        <!--Barre frets-->
        <div class="flex absolute w-10/12 h-full bottom-0 left-[21px]">
          <mat-grid-list cols="5" rowHeight="1:1.2" class=" w-full">
            @for (guitarString of Array(5); let i = $index; track i) {
              <mat-grid-tile [colspan]="5" class="rounded-3xl">
                <span #barrePushedElement class="{{`${i+1}`}} hidden"></span>
              </mat-grid-tile>
            }
          </mat-grid-list>
        </div>
      </div>

      <h1 class="font-bold text-4xl mt-2">{{chord.name}}</h1>
    </div>
  </div>

</mat-card>
