<div #container class="w-full">
  <div class="flex flex-1 flex-col items-center justify-center max-w-0"
       [ngStyle]="{
         'height.px': containerHeight(),
       }"
  >
    <div class="flex flex-row flex-1 items-center justify-center"
         [ngStyle]="{
            'margin-left.px': containerWidth(),
            'scale.%': chordsDivScale(),
         }"
    >
      <!--Placeholder Previous chords-->
      @if (previousChords().length < previousChordsCount) {
        @for (placeholder of [].constructor(previousChordsCount - previousChords().length); let i = $index; track i) {
          <app-chord-card
            [chord]="chords[0]"
            class="scale-80 opacity-30"
          />
        }
      }
      <!--Previous chords-->
      @for (chord of previousChords(); let i = $index; track i) {
        <app-chord-card
          [chord]="chord"
          class="scale-80 opacity-30"
        />
      }

      <!--Current Chord-->
      <app-chord-card
        [chord]="currentChord()!"
      />

      <!--Next Chord-->
      @for (chord of nextChords(); let i = $index; track i) {
        <app-chord-card
          [chord]="chord"
          class="scale-80 opacity-30"
        />
      }
    </div>
  </div>
</div>
