<div cdkDropList
     cdkDropListOrientation="mixed"
     class="flex flex-row gap-3 justify-start items-center"
     (cdkDropListDropped)="drop($event)"
     [ngStyle]="{
       'flex-wrap': wrapChords ? 'wrap' : 'nowrap',
       'overflow': wrapChords ? 'none' : 'scroll',
     }"
>
  @for (chord of reorderedItems; let i = $index; track i) {
    @if (filterChordsPredicate === undefined || filterChordsPredicate(chord)) {
      <div cdkDrag
           class="flex w-[144px] h-[179px] !cursor-pointer"
           (click)="chordOnClick !== undefined ? chordOnClick!(chord) : null"
           [ngClass]="{'cursor-pointer': chordOnClick !== undefined}"
      >
        <app-chord-card
          [chord]="chord"
          class="scale-50 mt-[-60px] ml-[-72px]"
        />
      </div>
    }
  }
</div>
